<div class="build-welcome">

  <h1><strong>"We've invented most of the stuff that we need and now we're just messing about."</strong><br><small><strong>- Karl Pilkington</strong> on <strong>Technology</strong></small></h1>
<p>Congratulations! You've taken your first step toward computer independence.<br>Building a computer is more than just assembling a bunch of parts and hoping they fit. Rather than throwing your hard-earned money at whatever "seems nice", you need to have a game plan in order to get the general assembly right.<br>Below is a useful list of important definitions so you can know just what the hell you're doing.</p>

</div>

<div class="main-parts">
  <h1><strong>Main Parts</strong></h1>

    <div class="def">
      <h3>Motherboard</h3>
      <p>A printed circuit board (PCB) that allows all of your components and external peripherals to connect and communicate with one another. Motherboards have a <strong>form factor</strong>, which is an industry standard method to determine their dimensions. The most common standards are ATX, Micro-ATX, and the super small Mini-ITX.</p>
    </div>
    <br>
    <div class="def">
      <h3>CPU</h3>
      <p>The CPU (central processing unit) processes data and produces output, which may be stored by an application or displayed onscreen. A CPU contains at least one processor, which is the actual chip inside the CPU that performs calculations. Nowadays it's common for a computer to have at least two processors (or "processing cores") for stronger performance.</p>
    </div>
    <br>
    <div class="def">
      <h3>Video Card</h3>
      <p>A programmable logic chip (processor) that renders images, animations, and video for the computer's screen. A video card is not just used for 2D data, such as zooming and panning the screen, but it's essential for the smooth decoding and rendering of 3D. The higher quality the card, the faster and smoother a game/movie's motion will be.</p>
    </div>
<br>
    <div class="def">
      <h3>RAM</h3>
      <p>Also known as <strong>"random access memory"</strong>, it allows info. to be stored and retrieved on a computer. Information is accessed randomly (instead of sequentially like a CD or hard drive), which allows a computer to access the data much faster.
        <br><br>
      RAM is inserted into a computer's motherboard and housed in a <strong>memory/RAM slot.</strong> A motherboard determines the number of memory slots available (typically two to four) as well as the type of RAM that the computer requires.
        <br><br>
      The current memory standard is <strong>DDR4 DIMM 288-pin</strong>, with "DIMM" indicating that its format is desktop memory. The format for laptops is called <strong>SO-DIMM</strong>, which will not function with a full-sized DIMM motherboard.</p>
    </div>
<br>
    <div class="def">
      <h3>Power Supply Unit</h3>
      <p>The PSU converts the wall socket's 100V-240V current into clean DC current and supplies it to your components.
          <br><br>
      Because the PSU is the first place that your computer receives electricity, it's the most <strong>vulnerable</strong> to power surges. As such, it is highly recommend to do your research on power supplies and buy one with excellent user feedback and reviews. Buy nice, not twice.</p>
    </div>

</div>

<br>


    <div class="peripherals">
      <h1><strong>Peripherals</strong></h1>

      <div class="def">
        <h3>Case</h3>
        <p>The case protects your components from outside hazards: dust, dander, wandering fingers, and more.
            <br><br>
        Here are some things to consider when buying your first case:
            <br><br>
        <strong>form factor</strong> - Your case must be physically compatible with your motherboard.
            <br><br>
        <strong>airflow</strong> - Take careful consideration of the number of fans included with your case. More fans = better flow.
            <br><br>
        <strong>cable management</strong> - The subtle art of turning a spaghetti mess of cables into a clean, working setup that you'd be proud to show off. Some cases are better at dealing with cable management than others, such as having slots in the back to house ugly wires.
            <br><br>
        <strong>window</strong> - A side panel that allows you to see your computer components. Important to note, some side panel cases can add to the noise level.
            <br><br>
        <strong>material type</strong> - Cheaper cases tend to be made out of plastic, and more expensive ones can be made partly or entirely out of metal.
            <br><br>
        <strong>bays and mount points</strong> - Most cases have three bay sizes: 2.5", 3.5", and 5.25". The 2.5" bay can house SSDs and laptop hard drives, the 3.5" is mainly for desktop HDDs, and the 5.25" bays can hold just about anything.</p>
      </div>
<br>
      <div class="def">
        <h3>Monitor</h3>
        <p>Don't underestimate the importance of a monitor...it can make or break your overall experience. A monitor plugs into video outputs on your motherboard or your GPU.
            <br><br>
        <strong>resolution</strong> - The number and density of the pixels that are on the monitor. Common ones include: 1920x1080, 2560x1440, and 3840x2160---they're always referred to 1080p, 1440p (2K), and 4K, respectively. The higher the resolution, the sharper the image will be. But be warned: a higher resolution will require a significantly more powerful GPU to achieve the same frame rate as a 1080p monitor.
            <br><br>
        <strong>refresh rate</strong> - The number of times a monitor refreshes every second, calculated in hertz (Hz). Whenever a monitor's used it's constantly updating the screen with new, static images.
            <br><br>
        <strong>panel type</strong> - Most computers are LED-backlit displays, but different LCD panel types exist, with the most common being TN and IPS. TN: lower response time, lower lag, and less expensive. IPS: better color accuracy, a wider viewing angle that doesn't distort color.</p>
      </div>
<br>
      <div class="def">
        <h3>CPU Cooler</h3>
        <p>The CPU itself may run hot, which is where a CPU cooler would come into play. It's built to draw heat away from the CPU and lower its temperature, thus improving its efficiency and stability. There are several types of coolers, the first being an air cooler and the second a liquid cooler.
          <br><br>
        An <strong>air cooler</strong> contains a heat sink that disperses heat that's coming from the top of the CPU. It's limited by heat density, in that it can't properly cool a small and overheated component. Air cooling's best for components that have a larger surface area. In the long run, heat density can be permanently damaging for electrical components and can lead to a shorter lifespan, loss of data, and system crashes.
          <br><br>
        <strong>Liquid cooling</strong> circulates liquid through small pipes in a heat sink, drawing heat away from the CPU to a radiator located on the system case or enclosure. Eventually it's released into the air outside the system, and the cooled liquid cycles back through the system and back to the CPU. Water has a higher thermal conductivity than air, and allows liquid systems to run at quieter noise levels than their air-y counterparts.</p>
      </div>
<br>
      <div class="def">
        <h3>Storage</h3>
        <p>A <strong>hard disk drive</strong> is the solution for mass storage. It stores data magnetically on a circular "hard disk", anywhere from 128 gigabytes to 10 terabytes (and beyond). There are three things to consider when buying a HDD: speed, capacity, and physical size (there are two sizes for HDDs: 2.5" and 3.5").
          <br><br>
          Because a HDD has an actual spinning disc, it's susceptible to physical damage and is slower than its solid state sibling.
          <br><br>
        While a <strong>solid state drive</strong> tends to have limited storage compared to a HDD, don't be fooled. One of its main features is extremely fast read/write speeds, which is ideal for storing your main applications and your operating system (yes, a SSD makes it possible to boot up your computer in less than fifteen seconds).
          <br><br>
        Having one of each drive is highly recommended. But take note: A HDD has more storage space and is pretty affordable, while a SSD is lightning fast but generally more expensive.</p>
      </div>

    </div>
