








<!-- <section class="section" id="card">
  <hr>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1"><img src="https://picsum.photos/200" alt="image"> </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            <div class="media-content">
              <p class="title is-4">John Smith</p>
            </div>
          </div>

      </div>
    </div>

  </div>
</div>
</div>
</section> -->

<div class="tile is-ancestor">

  <!-- <div class="tile is-parent">
    <article class="tile is-child notification is-danger">
      <p class="title">Wide tile</p>
      <div class="content">
      </div>
    </article>
  </div> -->

  <div class="tile is-vertical is-8">
    <div class="tile">
      <!-- <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">...tiles</p>
          <p class="subtitle">Bottom tile</p>
        </article>
      </div> -->

      <div class="group-1">

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

    </div>

    <div class="group-2">

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

    </div>

        <div class="group-3">

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

    </div>


    </div>
  </div>
</div>



<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Computer Crafter</strong> by <a href="https://jgthms.com">Haley Sulcer</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </div>
</footer>
