

<div class="tile is-ancestor">

  <div class="tile is-vertical is-8">
    <div class="tile">

      <div class="group-1">

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

    </div>

    <div class="group-2">

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

    </div>

        <div class="group-3">

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://picsum.photos/640/480/?random">
          </figure>
        </article>
      </div>

    </div>


    </div>
  </div>
</div>
