<div class="welcome">
  <h1>Welcome to Computer Crafter!
  <br>
  Interested in building your next rig?
    <br>
  Create an account to get started
    <br>
  or view our informativebuild guide.</h1>
</div>


<div class="row">
  <div class="column">
    <img src="https://picsum.photos/200/300/?random" alt="CPU"> <!-- CPU -->
    <img src="https://picsum.photos/200/300/?random" alt=""> <!--  -->
    <img src="https://picsum.photos/200/300/?random" alt=""> <!--  -->
  </div>
  <div class="column">
    <img src="https://picsum.photos/200/300/?random" alt="GPU"> <!-- GPU -->
    <img src="https://picsum.photos/200/300/?random" alt="MoBo"> <!-- MoBo -->
    <img src="https://picsum.photos/200/300/?random" alt=""> <!--  -->
  </div>
  <div class="column">
    <img src="https://picsum.photos/200/300/?random" alt="Monitor"> <!-- Monitor -->
    <img src="https://picsum.photos/200/300/?random" alt=""> <!--  -->
    <img src="https://picsum.photos/200/300/?random" alt=""> <!--  -->
  </div>
</div>
