<div class="welcome">
  <h1>Welcome to PC Wizard!
  <br>
  Interested in crafting your next rig?
    <br>
  Create an account to get started
    <br>
  or view our informative build guide.</h1>
</div>


<div class="row">
  <div class="column">
    <a href="/parts/cpus" class="responsive" alt="CPU" target="_blank" style="display: inline-block; width: 500px; height: 500px; background-image: url('https://i.imgur.com/K8YWfuV.jpg');"  ></a>

    <a href="/parts/cpu_coolers" class="responsive" alt="CPU_cooler" target="_blank" style="display: inline-block; width: 500px; height: 500px; background-image: url('https://gloimg.gbtcdn.com/gb/pdm-product-pic/Electronic/2017/11/25/goods-img/1511585406459222110.jpg');"  ></a>

    <a href="/parts/storages" class="responsive" alt="storage" target="_blank" style="display: inline-block; width: 640px; height: 640px; background-image: url('https://cdn.pixabay.com/photo/2015/03/02/16/12/hard-drive-656128_960_720.jpg');"  ></a>
  </div>

  <div class="column">
    <a href="/parts/gpus" class="responsive" alt="gpu" target="_blank" style="display: inline-block; width: 440px; height: 340px; background-image: url('https://www.theinquirer.net/w-images/ac830313-0e81-4870-981d-b88def9595fb/1/nvidiagtx970-580x358.jpg'); object-fit: contain"  ></a>

    <a href="/parts/mobos" class="responsive" alt="mobo" target="_blank" style="display: inline-block; width: 640px; height: 640px; background-image: url('https://images.pexels.com/photos/163150/technology-computer-metal-industry-163150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); object-fit: contain"  ></a>

    <a href="/parts/rams" class="responsive" alt="ram" target="_blank" style="display: inline-block; width: 500px; height: 500px; background-image: url('https://i.imgur.com/K8YWfuV.jpg'); object-fit: contain"  ></a>
  </div>

  <div class="column">
    <a href="/parts/cases" class="responsive" alt="case" target="_blank" style="display: inline-block; width: 540px; height: 540px; background-image: url('https://sta3-nzxtcorporation.netdna-ssl.com/uploads/product_image/image/1270/large_852ee712657b8e0c.jpg');"></a>

    <a href="/parts/psus" class="responsive" alt="psu" target="_blank" style="display: inline-block; width: 340px; height: 340px; background-image: url('https://images-eu.ssl-images-amazon.com/images/I/51jVmSSdsoL._SL500_AC_SS350_.jpg');"  ></a>

    <a href="/parts/monitors" class="responsive" alt="monitor" target="_blank" style="display: inline-block; width: 640px; height: 740px; background-image: url('https://images.pexels.com/photos/777001/pexels-photo-777001.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"  ></a>
  </div>

</div>
