<!--- FOOTER --->
<footer class="footer">
  <div class="container">
    <div class="left-box">
      <h1><strong>Our Story</strong></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio <strong>Haley Sulcer</strong> amet inventore, reprehenderit soluta mollitia id, ratione eveniet! Tempore, vitae? Ipsa accusantium labore cumque laborum facere voluptatibus, assumenda fugit dolorum.</p>
    </div>
    <div class="center-box">
      <ul>
        <li class="foot-links">
          <a href="/">Home</li>

        <li class="foot-links">
          <a href="/build-guide">Build Guide</li>

        <li class="foot-links">
          <a href="/signup">Register</li>

        <li class="foot-links">
          <a href="/login">Login</li>

        <li class="foot-links">
          <a href="">View My List</li>

      </ul>
    </div>

    <div class="right-box">
      <h3><strong>Important Links</strong></h3>
      <h4 class="link1">
        <a href="www.logicalincrements.com">Logical Increments</h4>
    <h4 class="link2">
      <a href="https://www.productchart.com/monitors/">Monitor Comparison Chart</h4>
        <h4 class="link3">
          <a href="https://www.anandtech.com/bench/CPU/2">AnandTech's Benchmarks</h4>
          </div>
    <!-- <div class="content has-text-centered">
      <p>

      </p>
    </div> -->
  </div>
</footer>
