<!--- ====== Theme title: Yeti --->
<!--- ====== Borrowed from: Bulma Official Site --->

  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <div class="logo">
      <img src="https://imgur.com/JE8tJe6.png" alt="logo">
    </div>
      <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      <div class="navbar-burger burger" data-target="navMenuExamplet">
        <!-- <span>Build Guide</span>
        <span>Register</span>
        <span>Login</span>
        <span>View My List</span>
        <span>Browse Parts</span> -->
      </div>
    </div>
    <div id="navMenuExamplet" class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">

        <div class="navbar-item">
          <div class="field is-grouped">

            <p class="control">
              <a href="/" id="Home" class="button">
                <span>Home</span>
              </a>
            </p>

            <p class="control">
              <a href="/build-guide" id="BuildGuide" class="button">
                <span>Build Guide</span>
              </a>
            </p>

            <p class="control">
              <a href="/signup" id="Register" class="button">
                <span>Register</span>
              </a>
            </p>

            <p class="control">
              <a href="/login" id="Login" class="button">
                <span>Login</span>
              </a>
            </p>

            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.4.3.zip">
                <span class="icon">
                  <i class="fa fa-parts-list"></i>
                </span>
                <span>View My List</span>
              </a>
            </p>

          <!-- Navbar Dropdown ------------------->
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active" href="#">
                Browse Parts
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="#">
                  Cases
                </a>
                <a class="navbar-item " href="#">
                  CPUs
                </a>
                <a class="navbar-item " href="#">
                  CPU Coolers
                </a>
                <a class="navbar-item " href="#">
                  Graphics Cards
                </a>
                <a class="navbar-item " href="#">
                  Motherboards
                </a>
                <a class="navbar-item " href="#">
                  Monitors
                </a>
                <a class="navbar-item " href="#">
                  PSUs
                </a>
                <a class="navbar-item " href="#">
                  RAM
                </a>
                <a class="navbar-item " href="#">
                  Storage
                </a>

                <hr class="navbar-divider">
                <div class="navbar-item">
                  <div>Stuck?
                    <p class="has-text-info is-size-8-desktop">Browse the parts lists <br> for inspiration.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>
</section>

<%= yield %>
