<div id="footer">
  <div class="container">

    <div class="left-box">

      <h1><a href="/"><b>PC WIZARD</b></a></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing <b><i>Haley Sulcer &copy; 2018</i></b> elit. Atque vero, ducimus cupiditate voluptatum esse dicta.</p>

      <div class="button-wrap">

          <div class="button-1">
            <a href="https://www.linkedin.com/in/haley-sulcer-39857a97/"><img src="https://i.imgur.com/y479iOt.png" alt="linkedin"></a>
          </div>

          <div class="button-2">
            <a href="https://github.com/Tsardines"><img src="https://i.imgur.com/7JQK0xJ.png" alt="gith"></a>

          </div>
          <div class="button-3">
            <a href="https://www.instagram.com/hjsulcer/"><img src="https://i.imgur.com/VTKyztC.png" alt="insta"></a>
          </div>

      </div> <!-- button-wrap -->

    </div>

    <div class="center-box">
      <ul>
        <li class="foot-links">
          <a href="/">Home</li>

        <li class="foot-links">
          <a href="/pages/build_guide">Build Guide</li>

        <li class="foot-links">
          <a href="/signup">Register</li>

        <li class="foot-links">
          <a href="/login">Login</li>
      </ul>
    </div>

    <div class="right-box">
      <h3 class="imp-links-title"><b>Great Resources</b></h3>
        <h4 class="imp-links">
          <a href="https://www.logicalincrements.com">Logical Increments</h4>
        <h4 class="imp-links">
          <a href="https://www.productchart.com/monitors/">Monitor Comparison Chart</h4>
        <h4 class="imp-links">
          <a href="https://www.anandtech.com/bench/CPU/2">AnandTech's Benchmarks</h4>
        <h4 class="imp-links">
          <a href="https://choosemypc.net/">Choose My PC</h4>
    </div>

  </div>

</div>
